@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
  --color-primary: #0f172a;
  --color-accent: #3b82f6; 
}

:root {
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900;
}